# Deterministic Models and Optimization: Clustering methods

**Note**: Given the text file does not work, we will simulate the data. We will use the same data simulation process as the group of Pat and co to make it more comparable.

In [12]:
import numpy as np
from numpy import random
import pandas as pd
from sklearn.neighbors import DistanceMetric
import matplotlib.pyplot as plt

In [14]:
#Simulate the data

X1 = np.random.uniform(low= 0, high=25, size=(200))
X2 = np.random.uniform(low=5, high = 30, size=(200))
df = pd.DataFrame({'i': X1, 'j':X2})

In [15]:
df

             i          j
0     2.022892   6.241207
1     4.692700  22.326547
2     0.196523  17.552715
3     6.412985   8.062128
4     5.985715  22.434823
..         ...        ...
195   1.801128  11.608564
196   0.293765  24.944080
197  24.964067  28.379862
198  14.240988  14.817562
199   6.357446  13.827951

[200 rows x 2 columns]